@page
@model WebApplication2.Models.GetData
@{
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Colour)</th>
        </tr>

        @foreach(var item in Model)
            {
    <tr>
        <td>
            @Html.DisplayNameFor(modelitem => item.Name)
        </td>
        <td>
            @Html.DisplayNameFor(modelitem => item.Colour)
        </td>

    </tr>
            }
    </table>
}
