
@*@{ 
    var data = ViewBag.Message;
}
   
    <h2> Fruit Details </h2>
    <table>

        <tr>
            <td>
                <h5> Fruit Name  : </h5>
            </td>
            <td>
                @data.Name
            </td>

        </tr>
        <tr>
            <td>
                <h5> Fruit Colour  :</h5>
            </td>
            <td>
                @data.Colour
            </td>

        </tr>

    </table>*@

